{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile</title>
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock meta %}

{% block sign %}{% endblock %}

{% block content %}
<div class="content">   
    <div class="profile">
        <h2>My Profile</h2>
        <table>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <p>: {{ profile_user.full_name }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <p>: {{ user.get_username }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <p>: {{ user.email }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Total Footprints
                </td>
                <td>
                    <p>: {{ total_footprints }}</p>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}