/* Home for new user */

.my-footprints-info h1 {
    font-family: 'Rubik Black';
    font-style: 'Black';
    font-weight: 900;
    font-size: 66.9232px;
    line-height: 79px;
    color: #438A5E;
}

.my-footprints-info p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 34.4941px;
    line-height: 52px;
    color: #436F8A;
}

.my-footprints-info {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-start {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 30.7451px;
    line-height: 46px;
    text-decoration: none;
    background: #BAC964;
    border-radius: 30.7451px;
    padding: 7.69px 30.75px;
    color: #FFFFFF;
}

@media screen and (max-width: 992px) {
    .img-responsive {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .img-right {
        margin-left: auto;
        margin-right: auto;
    }
    .my-footprints-info h1 {
        font-size: 33.5383px;
        line-height: 40px;
        text-align: center;
    }
    .my-footprints-info p {
        font-size: 17.2866px;
        line-height: 26px;
        text-align: center;
    }
    .my-footprints-info .btn-start {
        font-size: 16.2811px;
        line-height: 24px;
        margin-right: auto;
        margin-left: auto;
    }
}