.info-corona h1 {
    font-family: 'Rubik Black';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 79px;
    text-align: center;
    color: #438A5E;
}

.info-corona p {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    color: #404040;
}

@media screen and (max-width: 992px) {
    .info-corona h1 {
        font-size: 32px;
    }
    .info-corona p {
        margin-top: 20px;
        font-size: 16px;
    }
    .corona-img {
        margin-bottom: 40px;
    }
}