@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Rubik:wght@500;900&display=swap');
body {
    background-color: #f7fbe1;
    font-family: 'Poppins', sans-serif;
}

.welcomediv {
    display: flex;
    flex-direction: column;
}

.welcomediv * {
    margin: auto;
}

#welcome {
    font-family: 'rubik', sans-serif;
    color: #436F8A
}

#name {
    font-weight: 900;
    color: #1B4B94;
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.btn-success {
    background-color: #438A5E;
}

.btn-outline-primary {
    outline-color: #436F8A;
    color: #436F8A;
}

.btn-outline-primary:hover {
    background-color: #436F8A;
}

@media only screen and (max-width: 992px) {
    .content {
        flex-direction: column;
    }
    .imgdiv {
        margin-top: 50px;
    }
    #img-boy {
        margin-top: 100px;
    }
}